*{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

#home{
    background-color: lightblue;
    padding: 20px;
    text-align: center;
    
}

#about{
    background-color: lightgreen;
    padding: 20px;
    text-align: center;
    
}

#courses{
    background-color: lightyellow;
    padding: 20px;
    text-align: left;
    
}

#contact{
    background-color: rgb(118, 118, 118);
    padding: 20px;
    text-align: center;
    
}

.nav-bar{
    background-color: rgb(224, 106, 106);
    overflow: hidden;
}

h1,h2{
    color: rgb(255, 102, 0);
    font-size: 30px;
}

p{
    font-size: 16px;
    color: rgb(10, 13, 18);
}

.about-paragraph{
    font-size: 18px;
    color: rgb(80, 80, 80);
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#description{
    font-size: 30px;
    color: rgb(0, 0, 139);
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.lists{
    font-size: 18px;
    color: rgb(139, 0, 0);
    font-family: 'Lucida Console', 'Courier New', monospace;
}

.buttons{
    list-style-type: none;
    display: flex;
    gap: 15px;
    justify-content: center;
   
}

nav ul li a:hover{
    background-color: rgb(255, 153, 51);
    border-radius: 8px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    /* font-weight: bold; */
    padding: 14px 20px;
    display: block;
}

.hero {
    display: flex;
    justify-content: center;
    gap: 50px; 
    /* border: 10px solid black; */
}

.posters {
    border: 10px solid #555;
    border-radius: 15px;
    box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}
.posters:hover {
    transform: scale(1.15);
    box-shadow: 25px 25px 20px rgba(0, 0, 0, 0.4);
}
