*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-bar{
    background-color: #5d92d8;
    overflow: hidden;
    padding: 25px 0;
    
}

.buttons{
    list-style-type: none;
    display: flex;
    transition: background-color 0.3s, border-radius 0.3s;
    gap: 20px;
    justify-content: center;
    font-size: 25px;
}

nav a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    
}
nav a:hover{
    background-color: white;
    color: #5d92d8;
}

h1{
    text-align: center;
    margin: 40px 0;
    color: #333;
    -webkit-text-stroke: 0.5px white;
}

body {
    background-image: url("/self/media/background.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0;
}

body::before {
    content: "";
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(179, 179, 179, 0.4);   /* change 0.4 = transparency */
    z-index: -1; /* keep overlay behind content */
}

/* .mid{
    background-color: #bdbdbd;
    padding:  5px;
    background-image: url(/self/media/background.jpg);
    background-size: cover;
    background-position: center;
} */

#description{
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin: 20px 15%;
    font-size: 18px;
    color: #232323;
    -webkit-text-stroke: 0.5px white;
    line-height: 1.6;
}

.drawing{
    display: flex;
    justify-content: center;
    margin: 30px 0;
    gap: 40px;
}

.pic{
    border: 5px solid #5d92d8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: aliceblue;
    padding: 15px ; 
    transition: transform 0.3s, box-shadow 0.3s;
}
.pic:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: transform 0.3s, box-shadow 0.3s;
}

.footer{
    width: 100%;
    background-color: #1d1d1d;
    color: white;
    text-align: center;
    padding: 15px 0;
    /* margin-top: 0px; */
    padding: 30px 0;
}

.footer1{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #1d1d1d;
    color: white;
    text-align: center;
    padding: 15px 0;
    /* margin-top: 0px; */
    padding: 30px 0;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 50px;
}
.g1{
    border: 5px solid #5d92d8;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    
}
.g1:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.15);
    transition: transform 0.3s, box-shadow 0.3s;
}

.About{
    text-align: center;
    margin: 40px 15%;
    font-size: 18px;
    line-height: 1.6;
    color: #232323;
    
}

.table{
    border-collapse: collapse;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

th,td{
    border: 2px solid #5d92d8;
    padding: 10px 15px;
    /* background-color: antiquewhite; */
}
tr:nth-child(even){
    background-color: #bc7979;
}
tr:nth-child(odd){
    background-color: #aad884;
}
th{
    background-color: #5d92d8;
    color: white;
}